<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <link rel="stylesheet" href="/~husarma1/public/css/styles.css">
        <script src="/~husarma1/public/js/search.js"></script>
    </head>
    <body>
        <nav class="main-page-navigation">
            <a href="/~husarma1/">
                <svg class="svg-icon svg-icon-small" viewBox="0 0 24 24">
                    <use xlink:href="/~husarma1/public/svg/home.svg#home-svg"></use>
                </svg>
            Home</a>
            {{#user}}
            <p>Welcome, {{user.login}} ({{user.id}})</p>
            <a href="/~husarma1/logout/">Log out</a>
        {{/user}}
        {{^user}}
        <a href="/~husarma1/login/">
            <svg class="svg-icon svg-icon-small" viewBox="0 0 50 50">
                <use xlink:href="/~husarma1/public/svg/login.svg#login-svg"></use>
            </svg>
            Log in
        </a>
        <a href="/~husarma1/register/">
            <svg class="svg-icon svg-icon-small" viewBox="0 0 15 15">
                <use xlink:href="/~husarma1/public/svg/register.svg#register-svg"></use>
            </svg>
            Register
        </a>
    {{/user}}
    <a href="/~husarma1/userSettings/">
        <svg class="svg-icon svg-icon-small" viewBox="0 0 50 50">
            <use xlink:href="/~husarma1/public/svg/user.svg#user-svg"></use>
        </svg>
    User Settings</a>
    <a href="/~husarma1/item/add/">
        <svg class="svg-icon svg-icon-small" viewBox="0 0 24 24">
            <use xlink:href="/~husarma1/public/svg/add.svg#add-svg"></use>
        </svg>
    Add item</a>
</nav>
<header>
    <a href="/~husarma1/">
        <img width="50"
             height="50"
             alt="logo"
             class="logo"
             src="/~husarma1/public/images/logo.png">
    </a>
    <form class="search-container" method="get" action="/~husarma1/katalog/">
        <input type="text" name="q" autocomplete="off" id="searchBar" placeholder="Enter product name (2+ characters)" maxlength="50" minlength="2" required {{#q}}value="{{q}}"{{/q}}>
        <button type="reset" title="Clear">
            <svg class="svg-icon" viewBox="0 -2 20 20" data-is-empty="false">
                <use xlink:href="/~husarma1/public/svg/close.svg#close-svg"></use>
            </svg>
        </button>
        <button type="submit" title="Search">
            <svg class="svg-icon" viewBox="0 0 50 50">
                <use xlink:href="/~husarma1/public/svg/magnifier.svg#magnifier-svg"></use>
            </svg>
        </button>
    </form>
</header>
