<main>
    {{! TODO make using links, not  buttons }}
    <form method="get" action="./katalog/" class="categories">
        {{#categoryList}}
        <button type="submit" value="{{category}}" name="category">
            <svg class="svg-icon" viewBox="0 0 50 50" data-is-empty="false">
                <use xlink:href="/~husarma1/svg/categories/{{category}}.svg#{{category}}-svg"></use>
            </svg>
            <span>{{label}}</span>
        </button>
    {{/categoryList}}
</form>
</main>
