<main>
    <ul class="categories">
        {{#categoryList}}
        <li>
            <a href="/~husarma1/katalog/?category={{category}}">
                <svg class="svg-icon" viewBox="0 0 50 50" data-is-empty="false">
                    <use xlink:href="/~husarma1/public/svg/categories/{{category}}.svg#{{category}}-svg"></use>
                </svg>
                <p>{{label}}</p>
            </a>
        </li>
    {{/categoryList}}
</ul>
</main>
